---
import Button from '../components/Button.astro';
import Details from '../components/DetailsStatic.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Liblib2">
	<div class="grid place-items-center h-screen content-center">
		<Button>Tailwind Button in Astro!</Button>
		<Details />
	</div>
</BaseLayout>
