---
import { getCollection } from 'astro:content';
import Details from '../../components/Details.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const tools = await getCollection('tool');
  const a = tools.map((tool) => ({
    params: { slug: tool.id },
    props: { tool },
  }));
  return a;
}

const { tool } = Astro.props;
---

<BaseLayout title={"More about " + tool.data.name}>
  <Details toolEntry={tool} />
  <a href="/">Back</a>
</BaseLayout>
